In [3]:
import pandas as pd

In [4]:
narko = pd.read_csv('drugs.csv',)

In [15]:
narko[['age','alcohol-frequency']]

      age  alcohol-frequency
0      12                3.0
1      13                6.0
2      14                5.0
3      15                6.0
4      16               10.0
5      17               13.0
6      18               24.0
7      19               36.0
8      20               48.0
9      21               52.0
10  22-23               52.0
11  24-25               52.0
12  26-29               52.0
13  30-34               52.0
14  35-49               52.0
15  50-64               52.0
16    65+               52.0

In [24]:
narko.loc[:,['alcohol-frequency']].mean()

alcohol-frequency    33.352941
dtype: float64